body {
  font-family: Helvetica, sans-serif;
  padding: 15px;
  margin: 10px;
  background-color: rgb(219, 229, 248);
}

.price {
  font-style: italic;
  font-size: large;
  color: rgb(15, 102, 15);
}

.canceled-price {
  font-size: small;
  color: black;
}

article {
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  background-color: white;
}

.product-description {
  font-weight: lighter;
}

header {
  padding: 5px;
  border-bottom: solid gray;
}

.cart-button {
  background-color: rgb(15, 102, 15);
  color: white;
  border: white;
  border-radius: 15px;
  padding: 10px;
  transition: 0.5s padding;
}

.cart-button:hover {
  background-color: rgb(50, 145, 48);
  /* Does it matter that the highlighted button breakes the contrast rules? */
  padding: 20px;
}
